/**
 * Hace referencia al elemento <html>
 */
:root {
    color-scheme: dark;
    color: white;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    font-size: 15px;
    /* Body */
    body {
        height: 100%;
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    }
    /* Hace referencia al primer div con ID root */
    #root {
        width: 100%;
        height: 100%;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**
 * Mi Tailwind
 */

/* --------- width --------- */
.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}
.w-33 {
    width: 33.33%;
}
.w-25 {
    width: 25%;
}
.w-20 {
    width: 20%;
}
/* --------- padding --------- */
.p-3 {
    padding: 0.2rem;
}
.p-12 {
    padding: 0.8rem;
}
.p-21 {
    padding: 1.4rem;
}
.p-30 {
    padding: 2rem;
}
.p-39 {
    padding: 2.6rem;
}
/* --------- margin --------- */
.m-3 {
    margin: 0.2rem;
}
.m-12 {
    margin: 0.8rem;
}
.m-21 {
    margin: 1.4rem;
}
.m-30 {
    margin: 2rem;
}
.m-39 {
    margin: 2.6rem;
} /*---------------------*/
.mt-3 {
    margin-top: 0.2rem;
}
.mt-6 {
    margin-top: 0.4rem;
}
.mt-9 {
    margin-top: 0.6rem;
}
.mt-12 {
    margin-top: 0.8rem;
} /*---------------------*/
.mb-3 {
    margin-bottom: 0.2rem;
}
.mb-6 {
    margin-bottom: 0.4rem;
}
.mb-9 {
    margin-bottom: 0.6rem;
}
.mb-12 {
    margin-bottom: 0.8rem;
} /*---------------------*/
.ms-3 {
    margin-left: 0.2rem;
}
.ms-6 {
    margin-left: 0.4rem;
}
.ms-9 {
    margin-left: 0.6rem;
}
.ms-12 {
    margin-left: 0.8rem;
} /*---------------------*/
.me-3 {
    margin-right: 0.2rem;
}
.me-6 {
    margin-right: 0.4rem;
}
.me-9 {
    margin-right: 0.6rem;
}
.me-12 {
    margin-right: 0.8rem;
} /*---------------------*/
.mx-3 {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.mx-6 {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}
.mx-9 {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}
.mx-12 {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}
/* --------- display flex --------- */
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.jc-start {
    justify-content: flex-start;
}
.jc-end {
    justify-content: flex-end;
}
.jc-center {
    justify-content: center;
}
.ai-start {
    align-items: flex-start;
}
.ai-end {
    align-items: flex-end;
}
.ai-center {
    align-items: center;
}
/* --------- gap --------- */
.gap-3 {
    gap: 0.2rem;
}
.gap-6 {
    gap: 0.4rem;
}
.gap-9 {
    gap: 0.6rem;
}
.gap-12 {
    gap: 0.8rem;
}
/*------------*/
.space-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
/* 15px
  .2 ---> 3
  .4 ---> 6
  .6 ---> 9
  .8 ---> 12
  1 ----> 15
  1.2 --> 18
  1.4 --> 21
  1.6 --> 24
  1.8 --> 27
  2 ----> 30
  2.2 --> 33
  2.4 --> 36
  2.6 --> 39
  2.8 --> 42
  */
